<!DOCTYPE html>
<html>
<head>
	<title>Event Hive</title>
	<link rel="stylesheet" type="text/css" href="css/application.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="background">
		<header class="cf">
			<div class="wrapper_wide">
				<a href="index.html" id="logo">Event Hive</a>
				<nav>
					<ul>
						<li><a href="events.html">Explore</a></li>
						<li><a href="sign-in.html">Sign In</a></li>
						<li><a href="sign-up.html">Create an Event</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="wrapper_skinny">
			<h1>Discover your favourite events,<br>	or create your own.</h1>
			<a href="sign-up.html" class="button button_highlight">Create an Event</a>
			<a href="evennts.html" class="button button_white">Explore</a>
		</div>
	</div>
	
</body>
</html>